{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>
    <h1>Trainers Data</h1>
    <table>
        <thead>
            <tr>
                <th>Trainer Name</th>
                <th>Email</th>
                <th>Expertise</th>
            </tr>
        </thead>
        <tbody>
            {% for t in trainers %}
            <tr>
                <td>{{ t.full_name }}</td>
                <td>{{ t.email }}</td>
                <td>{{ t.expertise }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>